 @import "../../.cache/wal/colors-waybar.css";


* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 10px;
}

window#waybar {
    background: rgba(0, 0, 0, 0); /* Transparent background for the bar itself */
    color: alpha(@foreground, 0.7);
}


/* Base style for all modules */
.modules-left, .modules-center, .modules-right {
    background: alpha(@background, 0.7);
    border: 1px solid @color2;
    border-radius: 12px;
    padding: 2px 4px;
    margin: 3px 0;
}

#workspaces button {
    padding: 0 3px;
    color: @color3;
}

#workspaces button.active {
    color: @color4;
    font-weight: bold;
}

#clock, #pulseaudio, #network, #cpu, #memory {
    padding: 0 6px;
}

custom-roman-battery {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    color: @color3;
    padding: 0 6px;
} 
